.img-circle {
  width: 50px;
  height: 50px;
}
.hero-tr {
  width: 100%;
  height: auto;
  text-align: center;
}
.hero-tr td:nth-child(1) {
  width: 1%;
  vertical-align: middle;
}
.hero-tr td:nth-child(2) {
  width: 1%;
  vertical-align: middle;
}
.hero-tr td:nth-child(3) {
  width: 5%;
  vertical-align: middle;
}
.hero-tr td:nth-child(4) {
  width: 2%;
  vertical-align: middle;
}
.hero-tr td:nth-child(5) {
  width: 1%;
  vertical-align: middle;
  text-align: left;
}
.hero-tr td:nth-child(6) {
  width: 1%;
  vertical-align: middle;
}
.hero-tr td:nth-child(7) {
  vertical-align: middle;
  width: 7%;
}
.hero-tr td:nth-child(8) {
  width: 17%;
  vertical-align: middle;
  text-align: left;
}
.hero-tr td:nth-child(9) {
  width: 3%;
  vertical-align: middle;
}
.hero-tr td:nth-child(10) {
  vertical-align: middle;
  width: 3%;
}
