@font-face {
    font-family: 'icomoon';
    src:  url('../../fonts/icomoon.eot?ubitj');
    src:  url('../../fonts/icomoon.eot?ubitj#iefix') format('embedded-opentype'),
      url('../../fonts/icomoon.ttf?ubitj') format('truetype'),
      url('../../fonts/icomoon.woff?ubitj') format('woff'),
      url('../../fonts/icomoon.svg?ubitj#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }

  .location {
    content: "\e025";
    font-size: 25px;
    font-family: 'icomoon';
    display: inline-block;
    margin-top: 0px;
    margin-left: 0px;
    cursor: pointer;
  }
  .setlocation {
      position: relative;
      left: 9%;
  }